<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceCongTy" />
        <binding name="BasicHttpBinding_ISearchService" />
        <binding name="BasicHttpBinding_IServiceLichChieu" />
        <binding name="BasicHttpBinding_IServiceMovies" />
        <binding name="BasicHttpBinding_IServiceXuatChieu" />
        <binding name="BasicHttpBinding_IServiceDangNhap" />
        <binding name="BasicHttpBinding_IServiceCaChieu" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1692/SearchService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISearchService" contract="SearchSv.ISearchService"
        name="BasicHttpBinding_ISearchService" />
      <endpoint address="http://localhost:1692/ServiceLichChieu.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLichChieu"
        contract="ServiceLichChieu.IServiceLichChieu" name="BasicHttpBinding_IServiceLichChieu" />
      <endpoint address="http://localhost:1692/ServiceCongTy.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceCongTy" contract="WcfService.IServiceCongTy"
        name="BasicHttpBinding_IServiceCongTy" />
      <endpoint address="http://localhost:1692/ServiceMovies.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceMovies" contract="ServiceMovie.IServiceMovies"
        name="BasicHttpBinding_IServiceMovies" />
      <endpoint address="http://localhost:1692/ServiceXuatChieu.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceXuatChieu"
        contract="ServiceXuatChieu.IServiceXuatChieu" name="BasicHttpBinding_IServiceXuatChieu" />
      <endpoint address="http://localhost:1692/ServiceDangNhap.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDangNhap"
        contract="ServiceDangNhap.IServiceDangNhap" name="BasicHttpBinding_IServiceDangNhap" />
      <endpoint address="http://localhost:1692/ServiceCaChieu.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCaChieu"
        contract="ServiceCaChieu.IServiceCaChieu" name="BasicHttpBinding_IServiceCaChieu" />
    </client>
  </system.serviceModel>
</configuration>